header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: aquamarine;
  border: 2px solid black;
}

.logo {
  display: inline-flex;
}

main {
  display: flex;
}

nav {
  display: flex;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.fish {
  display: flex;
  border: 2px solid black;
}

h2.fish {
  font-size: 40px;
  color: white;
}

.actionStar {
  display: flex;
  border: 2px solid black;
}

.sidebar {
  border: 2px solid black;
}

h3.sidebar {
  font-size: 16px;
  font-weight: bold;
}

p.sidebar {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.orca {
  display: flex;
  border: 2px solid black;
}

.burger {
  display: flex;
  border: 2px solid black;
}

.cats {
  display: flex;
  border: 2px solid black;
}

.earth {
  display: flex;
  border: 2px solid black;
}

.camera {
  display: flex;
  border: 2px solid black;
}

.columnLeft {
  display: flex;
  flex-basis: 630px;
  flex-direction: row;
}

.columnCenter {
  display: flex;
  flex-basis: 300px;
}

.columnRight {
  display: flex;
  flex-basis: : 240px;
  flex-direction: column;
}

footer {
  border: 2px solid black;
}
