
/* General */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: MediumAquamarine;
  border: 2px solid black;
}

#logo {
  display: flex;
}

#title {
  display: flex;
}

main {
  display: flex;
}

.topNav {
  display: flex;
}

.topNav p {
  display: inline-block;
  text-align: right;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Articles */

/* Fish */

.fish {
  display: block;
  border: 2px solid black;
  position: relative;
}

.fishImg {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.fishImg h1 {
  display: flex;
  font-size: 40px;
  color: white;
  z-index: 5;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
 /* Action Star */

.actionStar {
  border: 2px solid black;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.sidebar h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.sidebar p{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#cookie {
  display: flex;
  flex-direction: column;
}

/* Orca and Burger */

.orca {
  display: inline;
  position: relative;
  border: 2px solid black;
}

.burger {
  display: inline;
  position: relative;
  border: 2px solid black;
}


/* Cats */

.cats {
  border: 2px solid black;
}

.catImg {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.catImg h1 {
  display: flex;
  font-size: 30px;
  text-align: center;
  color: white;
  z-index: 5;
  padding-top: 90px;
  padding-bottom: 90px;
}

/* Earth and Camera */

.earth {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  flex-basis: auto;
}

.earth h1 {
  display: flex;
  font-size: 30px;
  color: white;
}

.camera {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  flex-basis: auto;
}

.camera h1 {
  display: flex;
  text-align: center;
  font-size: 30px;
  color: white;
}

/* Stories */

.stories {
  display: flex;
  position: relative;
}

/* Columns */

.columnLeft {
  display: flex;
  width: 630px;
  position: relative;
  flex-direction: column;
  align-content: center;
  flex-grow: 3;
}

.columnCenter {
  display: flex;
  width: 300px;
  position: relative;
  flex-direction: column;
  flex-grow: 2:
}

.columnRight {
  display: flex;
  width: 240px;
  flex-direction: column;
  flex-grow: 1;

}

/* Footer */

footer {
  border: 2px solid black;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  position: relative;
}

#footTitle {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
